@charset "UTF-8";
html {
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
  word-break: normal;
}

*, :after, :before {
  background-repeat: no-repeat;
  box-sizing: inherit;
}

:after, :before {
  text-decoration: inherit;
  vertical-align: inherit;
}

* {
  margin: 0;
  padding: 0;
}

hr {
  color: inherit;
  height: 0;
  overflow: visible;
}

details, main {
  display: block;
}

summary {
  display: list-item;
}

small {
  font-size: 80%;
}

[hidden] {
  display: none;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

a {
  background-color: transparent;
}

a:active, a:hover {
  outline-width: 0;
}

code, kbd, pre, samp {
  font-family: monospace, monospace;
}

pre {
  font-size: 1em;
}

b, strong {
  font-weight: bolder;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

table {
  border-color: inherit;
  text-indent: 0;
}

iframe {
  border-style: none;
}

input {
  border-radius: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  resize: vertical;
}

button, input, optgroup, select, textarea {
  font: inherit;
}

optgroup {
  font-weight: 700;
}

button {
  overflow: visible;
}

button, select {
  text-transform: none;
}

[role=button], [type=button], [type=reset], [type=submit], button {
  cursor: pointer;
}

[type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner, button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

[type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner, button:-moz-focusring {
  outline: 1px dotted ButtonText;
}

[type=reset], [type=submit], button, html [type=button] {
  -webkit-appearance: button;
}

button, input, select, textarea {
  background-color: transparent;
  border-style: none;
}

a:focus, button:focus, input:focus, select:focus, textarea:focus {
  outline-width: 0;
}

select {
  -moz-appearance: none;
  -webkit-appearance: none;
}

select::-ms-expand {
  display: none;
}

select::-ms-value {
  color: currentColor;
}

legend {
  border: 0;
  color: inherit;
  display: table;
  max-width: 100%;
  white-space: normal;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  color: inherit;
  font: inherit;
}

[disabled] {
  cursor: default;
}

img {
  border-style: none;
}

progress {
  vertical-align: baseline;
}

[aria-busy=true] {
  cursor: progress;
}

[aria-controls] {
  cursor: pointer;
}

[aria-disabled=true] {
  cursor: default;
}

body {
  font-size: 100%;
  color: #4E301B;
  font-family: "Noto Sans JP", sans-serif;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

li {
  list-style: none;
}

a {
  color: #4E301B;
  text-decoration: none;
}

.fade-in {
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 2s ease, transform 2s ease;
}
.fade-in.is-visible {
  opacity: 1;
  transform: translateY(0);
}

.header {
  background-color: #FDF9EF;
  position: relative;
  z-index: 1;
}
.header__inner {
  max-width: 1500px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}
.header__logo {
  background-color: #FDF9EF;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -47%);
  padding: 29px;
  border-radius: 50%;
}
.header__logo .cattle-mark {
  width: 150px;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 1400px) {
  .header__logo .cattle-mark {
    width: 100%;
    height: auto;
  }
}
@media (max-width: 767px) {
  .header__logo {
    position: absolute;
    left: 50%;
    top: -70px;
    transform: translateX(-50%);
    background-color: #FDF9EF;
    border-radius: 50%;
    padding: 25px;
    text-align: center;
  }
}
.header__sp-logo {
  display: none;
}
@media (max-width: 767px) {
  .header__sp-logo {
    display: block;
    text-align: center;
    padding-top: 55px;
  }
}
.header__hamburger {
  display: none;
}
@media (max-width: 767px) {
  .header__hamburger {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 48px;
    height: 48px;
    background: #FED966;
    border: none;
    cursor: pointer;
    padding: 16px;
    position: fixed;
    right: 20px;
    top: 20px;
    z-index: 10000;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    align-items: center;
  }
  .header__hamburger span {
    display: block;
    width: 100%;
    height: 2px;
    background-color: #4E301B;
    transition: all 0.3s;
  }
  .header__hamburger.is-open span:nth-child(1) {
    transform: translateY(6px) rotate(45deg);
  }
  .header__hamburger.is-open span:nth-child(2) {
    opacity: 0;
  }
  .header__hamburger.is-open span:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}

.gnav-inner {
  display: flex;
  justify-content: center;
  padding-inline: 30px;
  margin: 0 auto;
  font-weight: 700;
}
.gnav-list-container {
  position: relative;
  display: flex;
  flex: 1 33%;
  justify-content: space-around;
  padding-top: 100px;
}
.gnav__item {
  display: block;
  flex: none;
  font-size: 25px;
}
.gnav__item--last {
  margin-right: -4%;
}
.gnav__item--first {
  margin-left: -4%;
}
@media (max-width: 1400px) {
  .gnav__item {
    font-size: 18px;
  }
}
.gnav-item-name {
  margin-top: 65px;
  z-index: 1;
  flex: 1 33%;
  text-align: center;
}
.gnav-item-name img {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 400px;
  height: auto;
}
@media (max-width: 1400px) {
  .gnav-item-name img {
    width: 300px;
  }
}
.gnav-item-name .gnav-cattle-mark {
  display: none;
}
@media (max-width: 767px) {
  .gnav-item-name .gnav-cattle-mark {
    display: block;
    width: 60px;
    margin: 0 auto 8px;
  }
}
@media (max-width: 1049px) {
  .gnav-inner {
    flex-wrap: wrap;
    justify-content: center;
    height: auto;
    padding: 50px 0;
  }
  .gnav-item-name {
    order: -1;
    width: 100%;
    flex: none;
    text-align: center;
    margin-top: 0;
    margin-bottom: 20px;
  }
  .gnav-item-name img {
    position: static;
    display: block;
    margin: 0 auto;
    transform: none;
  }
  .gnav-list-container {
    flex: none;
    width: auto;
    justify-content: center;
    gap: 25px;
    padding-top: 0;
    padding-bottom: 16px;
    padding-right: 15px;
  }
}
@media (max-width: 767px) {
  .gnav {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0.3s;
    z-index: 9999;
    padding-top: 80px;
  }
  .gnav-inner {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  .gnav-list-container {
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 0;
    width: 100%;
  }
  .gnav-item-name {
    display: block;
    width: 100%;
    flex: none;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 0;
  }
  .gnav-item-name img {
    position: static;
    transform: none;
    display: block;
    margin: 0 auto;
  }
  .gnav.is-open {
    opacity: 1;
    visibility: visible;
  }
}

.hero img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}
@media (max-width: 767px) {
  .hero img {
    height: 40vh;
  }
}
.hero {
  position: relative;
}
.hero__text {
  position: absolute;
  writing-mode: vertical-rl;
  top: 13%;
  right: 11.3%;
  align-items: flex-start;
  gap: 20px;
}
@media (max-width: 767px) {
  .hero__text {
    writing-mode: horizontal-tb;
    top: auto;
    bottom: 10%;
    right: auto;
    left: 120px;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  .hero__text br {
    display: none;
  }
}
@media (max-width: 767px) and (max-width: 540px) {
  .hero__text {
    bottom: 30%;
  }
}
.hero__text p {
  display: inline-block;
  background-color: rgb(255, 255, 255);
  font-size: clamp(1rem, 0.606rem + 1.68vw, 3.125rem);
  padding: 6px 6px 6px 8px;
  width: 100%;
  height: auto;
  margin-left: 20px;
  font-weight: 700;
  letter-spacing: 0.35em;
}
@media (max-width: 767px) {
  .hero__text p {
    width: auto;
    height: auto;
    font-size: 24px;
    padding: 2px;
    margin-left: 0;
    letter-spacing: 0;
    font-size: 20px;
  }
}
@media (max-width: 540px) {
  .hero__text p {
    font-size: 22px;
  }
}
.hero__text-short {
  height: auto !important;
}
@media (max-width: 767px) {
  .hero__text-short {
    height: auto !important;
  }
}

.about {
  background-color: #FDF9EF;
  padding-top: 80px;
  padding-inline: 20px;
}
.about-inner {
  max-width: 1280px;
  width: 100%;
  height: auto;
  margin: 0 auto;
  display: flex;
  align-items: flex-start;
  position: relative;
}
@media (max-width: 767px) {
  .about-inner {
    flex-direction: column;
    align-items: center;
  }
}
.about__text {
  display: inline-block;
  position: absolute;
  top: 7%;
  left: 13%;
  z-index: 1;
}
@media (max-width: 850px) {
  .about__text {
    left: 0;
    padding-left: 5px;
  }
}
@media (max-width: 767px) {
  .about__text {
    z-index: auto;
    position: static;
    text-align: center;
    padding-inline: 20px;
    padding-bottom: 20px;
  }
}
.about__title {
  font-size: 40px;
  padding: 9px 10px;
  color: #35A1C3;
  background-color: rgba(255, 255, 255, 0.8980392157);
  margin-bottom: 30px;
}
@media (max-width: 767px) {
  .about__title {
    font-size: 30px;
  }
}
.about__desc {
  color: #857868;
  background-color: rgba(255, 255, 255, 0.8980392157);
  display: inline-block;
  padding: 15px;
  line-height: 2.5;
  font-weight: 700;
}
@media (max-width: 767px) {
  .about__desc br {
    display: none;
  }
}
.about__images {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-left: auto;
}
@media (max-width: 850px) {
  .about__images {
    padding-inline: 10px;
  }
}
.about__main__pic {
  margin-top: 50px;
}
.about__sub__pic {
  display: block;
  border-radius: 50px;
  margin-top: 42px;
}
@media (max-width: 767px) {
  .about {
    padding: 50px auto 0;
  }
}

.product {
  background-color: #FDF9EF;
  padding-top: 120px;
  margin-bottom: 91px;
}
.product__inner {
  text-align: center;
  margin: 0 auto;
}
.product__ttl {
  font-size: 32px;
  margin-bottom: 91px;
}

.swiper-slide {
  width: 264px;
  height: 331px;
  box-shadow: 2px 4px 5px rgb(228, 226, 226);
  border-radius: 8px;
  background-color: #FFFFFF;
  gap: 24px;
  margin-bottom: 94px;
}
.swiper-slide figure img {
  height: 166px;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}
.swiper-slide__text-box {
  padding: 16px 16px 0 16px;
  text-align: left;
  margin-right: 24px;
}
.swiper-slide__text-box .swiper-slide__text-box-headeing {
  font-size: 16px;
  letter-spacing: 0.05em;
  line-height: 1.5;
}
.swiper-slide__text-box .swiper-slide__text-box-desc {
  padding-top: 14px;
}

@media (max-width: 767px) {
  .swiper {
    z-index: auto !important;
  }
}

@media (max-width: 767px) {
  .swiper-wrapper {
    z-index: auto !important;
  }
}

@media (max-width: 767px) {
  .swiper-slide {
    z-index: auto !important;
  }
}

.news__inner {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  position: relative;
}
.news__title {
  font-size: 32px;
  padding-bottom: 90px;
}
.news__item {
  display: flex;
  text-align: left;
  border-top: 1px solid #C6C6C6;
}
.news__item:last-child {
  border-bottom: 1px solid #C6C6C6;
}
.news dl {
  flex-wrap: wrap;
  width: 100%;
  line-height: 1.3;
  padding-left: 45px;
  padding-right: 45px;
}
@media (max-width: 767px) {
  .news dl {
    padding-left: 0;
  }
}
.news dt {
  padding: 24px 2px 0;
}
.news dd {
  padding: 22px 0;
  margin-left: 10%;
}

.faq {
  background-color: #FDF9EF;
  text-align: center;
}
.faq__question {
  background-color: #FFFFFF;
  display: flex;
  align-items: center;
  width: 100%;
  cursor: pointer;
  padding: 12px 0 10px 0;
  gap: 12px;
  font-size: 18px;
  font-weight: 700;
  text-align: left;
  color: #4E301B;
}
.faq_inner {
  max-width: 1280px;
  width: 100%;
  height: auto;
}
.faq_title {
  padding-top: 50px;
  padding-bottom: 70px;
  font-size: 32px;
  text-align: center;
}
.faq__list {
  max-width: 740px;
  width: 100%;
  margin: 0 auto;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 70px;
  text-align: left;
}
.faq__item {
  margin-bottom: 31px;
}
.faq__item.is-open .faq__icon::before {
  transform: rotate(-44deg);
}
.faq__item.is-open .faq__icon::after {
  transform: rotate(44deg);
}
.faq__q {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  padding-left: 14px;
}
.faq__text {
  flex: 1;
}
.faq__icon {
  width: 15px;
  height: 15px;
  flex-shrink: 0;
  position: relative;
  display: inline-block;
  margin-right: 30px;
}
.faq__icon::before, .faq__icon::after {
  content: "";
  position: absolute;
  width: 12px;
  height: 3px;
  background: #C6C6C6;
  top: 50%;
  left: 10%;
}
.faq__icon::before {
  right: 50%;
  transform: rotate(44deg);
}
.faq__icon::after {
  left: 50%;
  transform: rotate(-44deg);
}
.faq__answer {
  font: 16px;
  font-weight: 400;
  display: none;
  padding-top: 24px;
  padding-bottom: 8px;
  padding-left: 1.5px;
}

.access {
  padding-bottom: 99px;
  padding-inline: 30px;
}
.access__inner {
  max-width: 1280px;
  width: 100%;
  height: auto;
  margin: 0 auto;
}
.access__title {
  text-align: center;
  font-size: 32px;
  padding-bottom: 96px;
}
.access__information {
  display: flex;
}
@media (max-width: 767px) {
  .access__information {
    flex-direction: column;
    align-items: center;
  }
}
.access__information__text {
  margin-right: 32px;
  width: 50%;
  padding-left: 30px;
}
@media (max-width: 767px) {
  .access__information__text {
    width: 100%;
    margin-right: 0;
    padding-left: 0;
    margin-bottom: 50px;
  }
}
.access__information__text__profile {
  display: grid;
  grid-template-columns: 120px 1fr;
  align-items: start;
}
.access__information__map {
  width: 50%;
}
.access__information__map iframe {
  width: 85%;
  height: 334px;
}
@media (max-width: 767px) {
  .access__information__map {
    width: 100%;
    height: auto;
  }
  .access__information__map iframe {
    width: 100%;
  }
}
.access dt, .access dd {
  border-bottom: 1px solid #C6C6C6;
  padding-bottom: 16px;
  padding-top: 16px;
  font-weight: 700;
  align-self: stretch;
}
.access dd {
  padding-left: 57px;
}
.access dt:first-child,
.access dd:nth-child(2) {
  border-top: 1px solid #ccc;
  padding-top: 10px;
}
@media (max-width: 767px) {
  .access {
    padding-bottom: 30px;
  }
}

.footer {
  position: relative;
}
.footer__upper {
  max-width: 1280px;
  width: 100%;
  height: auto;
  margin: 0 auto;
  text-align: center;
  padding: 25px 0;
}
.footer__img-strawberry {
  position: absolute;
  left: 0;
  bottom: 17%;
}
@media (max-width: 540px) {
  .footer__img-strawberry {
    width: 40%;
    bottom: 9%;
  }
}
.footer__img-cow {
  position: absolute;
  right: 0;
  bottom: 17%;
}
@media (max-width: 540px) {
  .footer__img-cow {
    width: 40%;
    bottom: 9%;
  }
}
.footer__logo {
  margin-bottom: 25px;
}
.footer__logo img:first-child {
  display: block;
  margin: 0 auto 12px;
}
.footer__nav {
  display: flex;
  justify-content: center;
}
@media (max-width: 990px) {
  .footer__nav {
    gap: 40px;
  }
}
@media (max-width: 767px) {
  .footer__nav {
    flex-direction: column;
    gap: 5px;
  }
}
.footer__nav-list {
  display: flex;
}
.footer__nav-list li {
  font-weight: 700;
  padding-left: 24px;
}
@media (max-width: 990px) {
  .footer__nav-list {
    flex-direction: column;
  }
  .footer__nav-list li {
    padding-top: 33px;
    padding-left: 0;
  }
}
.footer__lower {
  background-color: #D9D9D9;
  text-align: center;
  padding: 20px 0;
}

.contact {
  background-color: #FDF9EF;
  padding-top: 90px;
  padding-bottom: 50px;
  padding-inline: 20px;
}
.contact__inner {
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
  border-radius: 20px;
}
.contact__title {
  font-size: 32px;
  text-align: center;
  margin-bottom: 67px;
}
.contact__guidance {
  text-align: center;
  margin-bottom: 93px;
  letter-spacing: 3;
  font-size: clamp(0.875rem, 0.761rem + 0.48vw, 1.125rem);
  font-weight: 700;
}
.contact__guidance br {
  display: none;
}
.contact__mailform {
  background-color: #FFFFFF;
  padding: 37px 76px 40px 76px;
  border-radius: 8px;
}
@media (max-width: 767px) {
  .contact__mailform {
    padding-inline: 33px;
  }
}
.contact__mailform__title {
  text-align: center;
  font-size: 18px;
  margin-bottom: 35px;
}
.contact__row {
  display: flex;
  align-items: flex-start;
  margin-top: 24px;
  margin-bottom: 24px;
  flex-wrap: wrap;
}
@media (max-width: 767px) {
  .contact__row {
    flex-direction: column;
  }
}
.contact__label {
  display: flex;
  align-items: center;
  gap: 20px;
  width: 44%;
  flex-shrink: 0;
  font-weight: 700;
  color: #4E301B;
}
@media (max-width: 767px) {
  .contact__label {
    width: 100%;
  }
}
.contact__required {
  background-color: #FED966;
  color: #4E301B;
  font-size: 11px;
  padding: 5px 11px;
  border-radius: 10px;
}
.contact__input {
  flex: 1;
  width: 56%;
}
@media (max-width: 767px) {
  .contact__input {
    width: 100%;
    padding-top: 5px;
  }
}
.contact__input#zip-wrap input, .contact__input input#zip {
  width: 160px !important;
}
.contact__input input[type=text],
.contact__input input[type=email],
.contact__input input[type=tel] {
  width: 100%;
  background-color: #F5F5F0;
  border: none;
  padding: 10px;
  border-radius: 5px;
}
.contact__input textarea {
  width: 100%;
  height: 150px;
  background-color: #F5F5F0;
  border: none;
  padding: 10px;
  border-radius: 5px;
  resize: none;
}
.contact__input label {
  display: flex;
  align-items: center;
}
.contact__input input[type=radio] {
  opacity: 0;
  position: absolute;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
.contact__input input[type=radio] + label {
  display: inline-block;
  position: relative;
  padding: 1px 0 5px 20px;
  cursor: pointer;
  margin-bottom: 3px;
}
.contact__input input[type=radio] + label::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 2px solid #4E301B;
  background: #fff;
}
.contact__input input[type=radio] + label::after {
  content: "";
  display: none;
  position: absolute;
  top: 50%;
  left: 6px;
  transform: translateY(-50%);
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: #4E301B;
}
.contact__input input[type=radio]:checked + label::before {
  background: #4E301B;
  border-color: #4E301B;
}
.contact__input input[type=radio]:checked + label::after {
  display: block;
  background: #FFFFFF;
}
.contact__submit {
  text-align: center;
  margin-top: 30px;
}
.contact__submit button {
  background-color: #ccc;
  color: #4E301B;
  border: none;
  padding: 14px 90px;
  border-radius: 10px;
  font-size: 16px;
  cursor: not-allowed;
}
.contact__submit button.is-active {
  background-color: #FED966;
  color: #4E301B;
  cursor: pointer;
}
.contact .is-error input[type=text],
.contact .is-error input[type=email],
.contact .is-error input[type=tel],
.contact .is-error textarea {
  border: 1px solid #F7320E;
  color: #F7320E;
}
.contact .error-text {
  width: 100%;
  padding-left: 44%;
  display: none;
  margin-top: 8px;
  color: #F7320E;
  font-weight: bold;
  font-size: 14px;
}
.contact .error-text::before {
  content: "⚠️";
}
.contact .is-error .error-text {
  display: block;
}

.section-img {
  position: relative;
  width: 100%;
  height: 120px;
  overflow: visible;
}
.section-img img {
  position: absolute;
  width: 200px;
}

.section-img--grape img {
  width: 235px;
  right: 0;
  top: 45px;
}
@media (max-width: 540px) {
  .section-img--grape img {
    width: 40%;
  }
}

.section-img--granola img {
  width: 349px;
  left: 0;
  top: -60px;
}
@media (max-width: 540px) {
  .section-img--granola img {
    width: 40%;
  }
}

.section-img--sprouts img {
  width: 264px;
  right: 0;
  top: 10px;
}
@media (max-width: 540px) {
  .section-img--sprouts img {
    width: 40%;
  }
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9998;
}
.overlay.is-open {
  display: block;
  background-color: rgba(247, 246, 246, 0.772);
}

.loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loading img {
  width: 120px;
}
.loading.is-hidden {
  opacity: 0;
  transition: opacity 0.8s ease;
  pointer-events: none;
}/*# sourceMappingURL=style.css.map */