.access {
    padding-bottom: 99px;
    padding-inline: 30px;

    &__inner {
        max-width: 1280px;
        width: 100%;
        height: auto;
        margin: 0 auto;
    }

    &__title {
        text-align: center;
        font-size: 32px;
        padding-bottom: 96px;
    }

    &__information {
        display: flex;

        @media (max-width:767px) {
            flex-direction: column;
            align-items: center;
        }
    }

    &__information__text {
        margin-right: 32px;
        width: 50%;
        padding-left: 30px;
        @media (max-width:767px) {
            width: 100%;
            margin-right: 0;
            padding-left: 0;
            margin-bottom: 50px;
        }


    }

    &__information__text__profile {
        display: grid;
        grid-template-columns: 120px 1fr;
        align-items: start;
    }

    &__information__map {
        width: 50%;

        iframe {
            width: 85%;
            height: 334px;
        }

        @media (max-width:767px) {
            width: 100%;
            height: auto;
            iframe {
                width: 100%;
            }
        }
    }

    dt, dd {
        border-bottom: 1px solid #C6C6C6;
        padding-bottom: 16px;
        padding-top: 16px;
        font-weight: 700;
        align-self: stretch;
    }

    dd {
        padding-left: 57px;
    }

    dt:first-child,
    dd:nth-child(2) {
        border-top: 1px solid #ccc;
        padding-top: 10px;
    }    

    @media (max-width:767px) {
        padding-bottom: 30px;
    }
}