.gnav {
    &-inner {
        max-width: 1060px;
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        padding-inline: 30px;
        margin: 0 auto;
        font-weight: 700;
    }    

    &-list-container {
        position: relative;
        display: flex;
        flex: 1 33%;
        justify-content: space-around;
        padding-top: 92px;
    }

    &__item {
        display: block;

        &--last {
            margin-right: -4%;
        }

        &--first {
            margin-left: -4%;
        }
        
    }

    &-item-name {
        margin-top: 57px;
        z-index: 1;
        flex: 1 33%;
        text-align: center;

        img {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
        }
    }
}