.gnav {
    .gnav-inner {
        max-width: 1040px;
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;

        .gnav-list-left {
            display: flex;
            align-items: center;
            gap: 39px;
            padding-right: 39px;
            padding-top: 52px;
        }

        .gnav-item-name {
            margin-top: 55px;

        }

        .gnav-list-right {
            display: flex;
            align-items: center;
            gap: 39px;
            padding-left: 39px;
            padding-right: 60px;
            padding-top: 52px;
        }
        
    }
}