.header {
    max-width: 1280px;
    width: 100%;
    height: 100%;
    background-color: #FDF9EF;
    position: relative;

    &__logo {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, -47%); 

        .cattle-mark {
            width: 156px;
            height: 150px;
            background-color: #FDF9EF;
            padding-inline: 30px;
            border-radius: 50%;
        }
    }

    

}