.hero {
    img {
        width: 100%;
        height: auto;
        object-fit: cover;
        display: block;

        @media (max-width:767px) {
            height: 40vh;
        }           
    }
    position: relative;

    &__text {
        position: absolute;
        writing-mode: vertical-rl;
        top: 13%;
        right: 11.3%;
        align-items: flex-start;
        gap: 20px;

        @media (max-width: 767px) {
            writing-mode: horizontal-tb; // 縦書き → 横書きに戻す
            top: auto;                   // topの位置をリセット
            bottom: 10%;                 // 下から配置
            right: auto;                 // rightをリセット
            left: 120px;                   // 中央寄せの基点
            transform: translateX(-50%); // 中央に
            display: flex;               // 3列を横並びに
            flex-direction: column;      // 各pを縦積みに
            gap: 8px;

            br {
                display: none;
            }

            @media (max-width: 540px) {
                bottom: 30%;
            }                  
        }


        p {    
            display: inline-block;  
            background-color: rgba(255, 255, 255);
            font-size: clamp(1rem, 0.606rem + 1.68vw, 3.125rem);            
            padding: 6px 6px 6px 8px;
            width: 100%;
            height: auto;
            margin-left: 20px;
            font-weight: 700;
            letter-spacing: 0.35em;

            @media (max-width: 767px) {
                width: auto;       // 幅をテキストに合わせる
                height: auto;      // 高さもリセット
                font-size: 24px;   // スマホ用フォントサイズ
                padding: 2px;
                margin-left: 0;
                letter-spacing: 0;
                font-size: 20px;
            }    
            
            @media (max-width: 540px) {
                font-size: 22px;
            }                  
        }
    }

    &__text-short {
        height: auto !important;

        @media (max-width: 767px) {
            height: auto !important; 
        }        
    }
}