.news {
    max-width: 1280px;
    width: 100%;
    
    &__inner {
        width: 934px;
        height: auto;
        margin: 0 auto;
        text-align: center;
        padding-bottom: 90px;
        position: relative;
    }

    &__title {
        font-size: 32px;
        padding-bottom: 90px;
    }

    &__item {
        display: flex;
        text-align: left;
        border-top: 1px solid #C6C6C6;

        &:last-child {
            border-bottom: 1px solid #C6C6C6;
        }
    }


    dl {
        flex-wrap: wrap;
        width: 100%;
        line-height: 1.3;
    }

    dt {
        padding: 24px 2px 0;
        width: 20%;

    }

    dd {
        padding: 22px 0;
        width: 80%;
    }


}