.news {
    
    &__inner {
        max-width: 1280px;
        width: 100%;    
        margin: 0 auto;
        text-align: center;
        position: relative;
    }

    &__title {
        font-size: 32px;
        padding-bottom: 90px;
    }

    &__item {
        display: flex;
        text-align: left;
        border-top: 1px solid #C6C6C6;

        &:last-child {
            border-bottom: 1px solid #C6C6C6;
        }
    }


    dl {
        flex-wrap: wrap;
        width: 100%;
        line-height: 1.3;
        padding-left: 45px;
        padding-right: 45px;
        @media (max-width:767px) {
            padding-left: 0;
        }
    }

    dt {
        padding: 24px 2px 0;


    }

    dd {
        padding: 22px 0;
        margin-left: 10%;

    }


}