// 共通スタイル
.section-img {
    position: relative;
    width: 100%;
    height: 120px;  // 画像エリアの高さ
    overflow: visible;

    img {
        position: absolute;
        width: 200px;  // 画像サイズ（後で調整）
    }
}

// ブドウ（右側）
.section-img--grape {
    
    img {
        width: 235px;
        right: 0;
        top: 45px;  // 上のセクションに少しかかる   
    }

    @media (max-width: 540px) {
        img {
            width: 40%;
        }
    }         
}

// フルーツグラノーラ（左側）
.section-img--granola {
    img {
        width: 349px;
        left: 0;
        top: -60px;
    }

    @media (max-width: 540px) {
        img {
            width: 40%;
        }
    }       
}

// 芽キャベツ（右側）
.section-img--sprouts {
    img {
        width: 264px;
        right: 0;
        top: 10px;
    }

    @media (max-width: 540px) {
        img {
            width: 40%;
        }
    }       
}

